.controller.ds5 {
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/base.png);
    height: 698px;
    width: 1200px;
    /*    margin-left: -403px;
        margin-top: -280px;*/
}

.ds5.disconnected {
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/Disconnect.png);
}

.ds5.disconnected div {
    display: none;
}

.ds5 .triggers {
    width: 598px;
    height: 90px;
    position: absolute;
    left: 252px;
    top: 126px;
}

.ds5 .trigger {
    width: 99px;
    height: 100%;
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/Trigger_Pressed.png);
    opacity: 0;
}

.ds5 .trigger.left {
    float: left;
    margin-left: 96px;
}

.ds5 .trigger.right {
    float: right;
    background-position-x: 99px;
}

.ds5 .bumper {
    width: 200px;
    height: 45px;
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/Bumper.png) no-repeat;
    opacity: 0;
}

.ds5 .bumpers {
    position: absolute;
    width: 672px;
    height: 23px;
    left: 324px;
    top: 205px;
}

.ds5 .bumper.pressed {
    opacity: 0.8;
}

.ds5 .bumper.left {
    /* -webkit-transform: rotateY(180deg); */
    /* transform: rotateY(180deg); */
    float: left;
}

.ds5 .bumper.right {
    float: right;
    transform: rotateY(180deg);
	margin-right: 125px;
}

.ds5 .touchpad {
    width: 350px;
    height: 300px;
    position: absolute;
    left: 422px;
    top: 74px;
}

.ds5 .touchpad.pressed {
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/touch.png)
}

.ds5 .meta {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 546px;
    bottom: 264px;
}

.ds5 .meta.pressed {
    background: url(Home.png) no-repeat center;
}

.ds5 .p0{
background-position: 0 -6px;
}
.ds5 .p1{
background-position: 0 -28px;
}
.ds5 .p2{
background-position: 0 -49px;
}
.ds5 .p3{
background-position: 0 -70px;
}*/
.ds5 .arrows {
    position: absolute;
    width: 352px;
    height: 46px;
    top: 142px;
    left: 227px;
}

.ds5 .back, .ds5 .start {
    background: url(Select.png);
    width: 26px;
    height: 43px;
    opacity: 0;
}
.ds5 .start {
    position: absolute;
    left: 546px;
    bottom: -30px;
}
.ds5 .back {
    position: absolute;
    left: 170px;
    bottom: -30px;
}

.ds5 .back.pressed, .ds5 .start.pressed {
    /* background-position-y: -21px; */
    /* margin-top: 2px; */
    opacity: 1;
}

.ds5 .back {
    float: left;
    /* width: 28px; */
}

.ds5 .start {
    float: right;
    /* width: 28px; */
    background-position: 0px 0;
}

.ds5 .abxy {
    position: absolute;
    width: 170px;
    height: 171px;
    top: 250px;
    left: 723px;
}

.ds5 .button {
    position: absolute;
    width: 55px;
    height: 55px;
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/facebuttons.png);
}

.ds5 .button.pressed {
    background-position-y: 55px;
    /* margin-top: 5px; */
}

.ds5 .a {
    background-position: 0 0;
    bottom: 10px;
    left: 48px;
}

.ds5 .b {
    background-position: -57px 0;
    top: 58px;
    right: 22px;
}

.ds5 .x {
    background-position: -113px 0;
    top: 57px;
}

.ds5 .y {
    background-position: 55px 0;
    left: 49px;
    bottom: 106px;
}

.ds5 .sticks {
    position: absolute;
    width: 364px;
    height: 105px;
    top: 348px;
    left: 422px;
}

.ds5 .stick {
    position: absolute;
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/Sticks.png);
    height: 94px;
    width: 94px;
}

.ds5 .stick.pressed.left {
    background-position-x: -96px;
}

.ds5 .stick.pressed.right {
    background-position-x: -192px;
}

.ds5 .stick.left {
    top: 21px;
    left: 25px;
}

.ds5 .stick.right {
    top: 21px;
    left: 233px;
}

.ds5 .dpad {
    position: absolute;
    width: 125px;
    height: 126px;
    top: 267px;
    left: 339px;
}

.ds5 .face {
    background: url(https://sheluvdx.github.io/fgfgfgfgfgfgfgfg/19/Dpad.png);
    position: absolute;
}

.ds5 .face.up, .ds5 .face.down {
    width: 37px;
    height: 52px;
}

.ds5 .face.left, .ds5 .face.right {
    width: 52px;
    height: 40px;
}

.ds5 .face.up {
    left: 40px;
    top: 7px;
    background-position: -37px 0px;
}

.ds5 .face.down {
    left: 39px;
    bottom: 7px;
    background-position: 0px 0;
}

.ds5 .face.left {
    top: 45px;
    left: 0;
    background-position: 104px 0;
}

.ds5 .face.right {
    top: 44px;
    right: 11px;
    background-position: 52px 0;
}

.ds5 .face.pressed {
    /* margin-top: 5px; */
    background-position-y: 52px;
}

.ds5.half {
    margin-top: -300px;
}
